@import '/src/_environment';

.menu-list {
    &__component {
        padding: 6px 12px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    &__component:hover {
        background-color: #AAAAAA;
    }
}