.home-page {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    background: white;
  }
  
  .content h1 {
    margin-bottom: 1rem;
  }
  
  .events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .settings{
    padding-top: 20rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }