.profile-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.profile-header {
  position: relative;
  text-align: center;
  color: white;
  background-color: #f4f4f4;
}

.profile-banner {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.profile-info {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-300%);
  text-align: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  margin: 20px 0;
  font-size: 24px;
  color: #333;
}

.profile-info p {
  font-size: 14px;
  color: #666;
}

.user-credentials {
  display: block;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  right: 835px;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  right: 580px
}

.social-links a {
  margin: 0 8px;
  color: #007bff;
  font-size: 20px;
  text-decoration: none;
}

.social-links a:hover {
  color: #0056b3;
}

.settings-icon {
  position: absolute;
  top: 250px;
  right: 10px;
  font-size: 24px;
  color: #666;
  cursor: pointer;
}

.settings-icon a {
  text-decoration: none;
  color: inherit;
}

.profile-navigation {
  display: flex;
  justify-content: baseline;
  margin: 40px 0 20px;
  border-bottom: 2px solid #ddd;
}

.nav-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.nav-btn.active {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.nav-btn:hover {
  color: #0056b3;
}

.profile-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail {
  width: 250px;
  margin: 10px;
  text-align: center;
}

.detail h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  text-decoration: underline;
}

.detail p {
  font-size: 14px;
  color: #666;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.ticket-column {
  flex: 1;
  text-align: center;
  font-weight: bold;
}