:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: block;
}

.modal {
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  &__container {
    position: absolute;
    top: 0;
    right: -50%;
    width: 500px;
    height: 100vh;
    opacity: 0;
    transition: right 0.3s ease-in, opacity 0.3s ease-in;
  }
}

:host(.modal_hidden) {
  display: none;
}

:host(.modal_shown) {
  .modal__background {
    opacity: 1;
  }

  .modal__container {
    right: 0%;
    opacity: 1;
    transition: right 0.3s ease-out, opacity 0.3s ease-in;
  }
}
