<img src="" alt="">
<div class="inner">
  <div class="company" *ngIf="user != '' else elseBlock">
    <img src="" alt="">
    <h2 class="name">{{user}}</h2>
    <h3 class="company" *ngIf="companyName != '' else elseBlock">{{companyName}}</h3>
    <ng-template #elseBlock (click)="callModal()">Create company</ng-template>
  </div>
  <ng-template #elseBlock>
    <img src='/assets/images/base__login.png' alt="">
    <ul class="inner__buttons">
      <li class="inner__buttons-button" (click)="callLoginModal()"><a>Log In</a></li>
      <li class="inner__buttons-button" (click)="callRegisterModal()"><a>Register</a></li>
    </ul>
  </ng-template>
  
</div>
<button class="expander"></button>
