@use '/src/environment' as *;

:host {
  display: flex;
  justify-content: center;
}

.container {
  width: 420px;
  border: 1px solid $border-color;
  padding: 1rem;
  border-radius: 8px;
}

p {
  font-size: 1rem;
}
