<div class="event-item_big">
    <img class="event-item__image"
        [src]="event.image_url ? event.image_url : '/assets/images/event.png'"
        [alt]="event.name"
      >
    <h2 class="event-item__name" [title]="event.name">{{event.name}}</h2>
    <p class="event-item__description">{{event.description}}</p>
    <ul class="event-item__info">
      <li class="event-item__info-elem">{{categoryName}}</li>
      <li class="event-item__info-elem">{{event.company_id}}</li>
      <li class="event-item__info-elem">{{getFormat()}}</li>
      <li class="event-item__info-elem">{{event.date.toString()}}</li>
    </ul>
    <ul class="event-item__tickets">
      <li class="event-item__tickets-count">{{event.ticket_count}}</li>
      <li class="event-item__tickets-price">{{event.ticket_price}}</li>
    </ul>
    <div class="event-item__buttons">
      <button class="event-item__buttons-subscription">Subscribe</button>
      <button class="event-item__buttons-notifications">Notifications</button>
    </div>
  </div>
