<div class="login">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="login__form">
        <label for="login" class="login__title-label">Login</label>
        <input class="login__title-text" placeholder="Login" type="text" name="" id="login" formControlName="login">

        <label for="password" class="login__password-label">Password</label>
        <input class="password__title-text" placeholder="Password" type="password" name="" id="password" formControlName="password">

        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>
