:host {
    display: flex;
    justify-content: flex-start;
  }
  
.category-list {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));*/
    gap: 12px;
    width: 100%;
  }