<div class="event-item">
  <h2 class="event-item__name" [title]="event.name">{{event && event.name}}</h2>
  <ul class="event-item__info">
    <li class="event-item__info-elem">{{event && categoryName}}</li>
    <li class="event-item__info-elem">{{event && event.company_id}}</li>
    <li class="event-item__info-elem">{{event && getFormat()}}</li>
    <li class="event-item__info-elem">{{event && getData()}}</li>
  </ul>
  <ul class="event-item__tickets">
    <li class="event-item__tickets-count">{{event && event.ticket_count}}</li>
    <li class="event-item__tickets-price">{{event && event.ticket_price}}</li>
  </ul>
  <div class="event-item__buttons">
    <button class="event-item__buttons-subscription">Subscribe</button>
    <button class="event-item__buttons-notifications">Notifications</button>
  </div>
</div>
