<div class="event-create">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="event-create__form">
        <label for="title" class="event-create__title-label">Title</label>
        <input class="event-create__title-text" placeholder="Title" type="text" name="" id="title" formControlName="title">

        <label for="content" class="event-create__content-label">Content</label>
        <textarea className="event-create__content-text" type="text" defaultValue="Content" id="content" formControlName="content"></textarea>

        <label class="event-create__list-label" for="category">Category {{choosenCategoryName}}</label>
        <a href="javascript:void(0);" (click)="ShowList('category')" class="event-create__show">+</a>
        <ul class="event-create__list-category" id="category">
            <li class="event-create__list-elem" (click)="ChooseCategory(9, 'business')">Business</li>
            <li class="event-create__list-elem" (click)="ChooseCategory(11, 'politics')">Politics</li>
            <li class="event-create__list-elem" (click)="ChooseCategory(12, 'psychology')">Psychology</li>
            <li class="event-create__list-elem" (click)="ChooseCategory(10, 'hobbies')">Hobbies</li>
        </ul>

        <label class="event-create__list-label" for="format">Format {{choosenFormatName}}</label>
        <a href="javascript:void(0);" (click)="ShowList('format')" class="event-create__show">+</a>
        <ul class="event-create__list-format" id="format">
            <li class="event-create__list-elem" (click)="ChooseFormat(1, 'conference')">Conference</li>
            <li class="event-create__list-elem" (click)="ChooseFormat(2, 'lecture')">Lecture</li>
            <li class="event-create__list-elem" (click)="ChooseFormat(3, 'workshop')">Workshop</li>
            <li class="event-create__list-elem" (click)="ChooseFormat(4, 'fest')">Fest</li>
        </ul>

        <label for="ticket_count" class="event-create__ticket-count-label">Ticket count</label>
        <input class="event-create__ticket-count-text" placeholder="Ticket count" type="text" name="" id="ticket-count" formControlName="ticketCount">
    
        <label for="ticket-price" class="event-create__ticket-price-label">Ticket price</label>
        <input class="event-create__ticket-price-text" placeholder="Ticket price" type="text" name="" id="ticket-price" formControlName="ticketPrice">

        <label for="date" class="event-create__date-label">Date</label>
        <input class="event-create__date-text" placeholder="Ticket count" type="datetime-local" name="" id="date" formControlName="date">
    
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>
