<div class="post-create">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="post-create__form">
        <label for="title" class="post-create__title-label">Title</label>
        <input class="post-create__title-text" placeholder="Title" type="text" name="" id="title" formControlName="title">

        <label for="content" class="post-create__content-label">Content</label>
        <textarea className="post-create__content-text" type="text" defaultValue="Content" id="content" formControlName="content"></textarea>

        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>
