@import '/src/_environment';

.filters {
    &__filter {
        max-width: fit-content;
    }
  }
  
  .filter {
    display: grid;
    //min-width: 224px;
  
    &__title {
        background: #FFFFFF;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E6E6E6;
    }
  
    &__title-text {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin: 0px;
    }
  
    @media (max-width: 550px) {
        &__title {
            padding: 24px;
        }
    }
  
    &__title > a {
        margin-left: 24px;
        z-index: 9999;
    }
  
    &__desc {
        padding: 24px 12px;
        position: relative;
        background: #FFFFFF;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 12px;
        margin-bottom: 1px;
    }

    &__desc-check {
        display: grid;
        justify-content: end;
    }
  }
  
  .img.responsive {
    transform: rotate(180deg);
  }